.photos {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    button {
        position: relative;
        width: 200px;
        height: 125px;
        overflow: hidden;
        border: 1px solid var(--clr-border);
        border-radius: var(--border-rad);
        cursor: pointer;
        &:hover {
            border-width: 2px;
        }
    }
    img {
        position: absolute;
        left: -5px;
        top: 0;
        width: 210px;
        height: auto;
        transition: all 200ms ease;
    }
}

.img-pop-trigger {
    background: none;
    outline: none;
    border: none;
    width: 200px;
    overflow: hidden;
    object-fit: contain;
    
    &:hover {
        img {
            width: 300px;
            margin-left: -50px;
            object-fit: cover;
        }
    }
}

app-work {
    display: grid;
    grid-template-columns: repeat(autofill, 1fr);
    gap: 30px;
}