.photos {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    button.img-pop-trigger {
        position: relative;
        background: none;
        outline-color: transparent;
        width: 200px;
        height: 125px;
        overflow: hidden;
        object-fit: contain;
        border: 1px solid var(--clr-border);
        border-radius: var(--border-rad);
        cursor: pointer;
        &:hover, &:focus {
            border-width: 2px;
            img {
                width: 300px;
                margin-left: -25px;
                object-fit: cover;
            }
        }
        &:focus-visible {
            outline: 2px solid blue;
            outline-offset: 2px;
        }
    }
    img {
        position: absolute;
        left: -5px;
        top: 0;
        width: 210px;
        min-height: 125px;
        height: auto;
        transition: all 200ms ease;
    }
}
app-work {
    display: grid;
    grid-template-columns: repeat(autofill, 1fr);
    gap: 30px;
}

@media (max-width: 530px) {
    .photos button.img-pop-trigger {
        width: 100%;
        height: 200px;
        img {
            width: 100%;
            left: 0;
        }
        &:hover img, &:focus img{
            width: 125%;
        }
    }
}