app-about {
    display: grid;
    gap: var(--grid-gap);
    grid-template-rows: repeat(3, minmax(100, 1fr));

    .halfsies {
        display: grid;
        gap: var(--grid-gap);
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 500px) {
            grid-template-columns: 1fr;
        }
    }
    p {
        line-height: 1.4em;
    }
}

.hobbies ul{
    list-style-type: circle;
    li:hover {
        list-style-type: disc;
        &::marker {
            color: var(--clr-link);
        }
    }
}

.emoji-line {
    line-height: 28px;
    vertical-align: middle;
    margin: 0;
    & + p {
        margin-top: 0;
    }
}

.contact-list {
    display: grid;
    grid-template-columns: 30px max-content;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 15px;
    margin-left: 15px;
    align-items: center;


    i {
        font-size: 24px;
    }

}

.status {
    background-color: var(--clr-text);
    color: var(--clr-surface);
    padding: 1px 5px;
    white-space: nowrap;
    border-radius: 2px;
}