/* Emoji Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700');

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@300..700&display=swap');

@font-face {
    font-family: 'Intro';
    src: url('../assets/fonts/INTRO.OTF');
}

:root {
    color-scheme: light dark;
    --clr-surface: light-dark(#f8f7f4, #051118);
    --clr-text: light-dark(#051118, #f8f7f4);
    --clr-text-mid: color-mix(in srgb, var(--clr-text), transparent 20%);
    --clr-text-barely: color-mix(in srgb, var(--clr-text), transparent 95%);
    --clr-border: var(--clr-text);
    --clr-link: var(--clr-text);
    --clr-icon: var(--clr-text);
    --display-font: 'Intro';
    --grid-gap: 30px;
    --border-rad: 8px;
    --display-font: 'Intro';
    --content-font: "Inclusive Sans", serif;
    --shadow: drop-shadow(3px 3px var(--clr-border));
}


html[data-theme="light"] {
    color-scheme: light;

    &[data-contrast-theme="more"] {
        --clr-surface: white;
        --clr-text: black;
        --clr-text-mid: var(--clr-text);
        --clr-link: blue;
    }
}

html[data-theme="dark"] {
    color-scheme: dark;

    &[data-contrast-theme="more"] {
        --clr-surface: black;
        --clr-text: white;
        --clr-text-mid: var(--clr-text);
        --clr-link: yellow;
    }
}


.inclusive-sans {
    font-family: "Inclusive Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: var(--content-font);

    &:focus-visible {
        outline: 2px solid blue;
        outline-offset: 2px;
    }
}

body {
    background-color: var(--clr-surface);
    overflow-x: hidden;
}

p {
    /* not widely supported but doesn't cause issues */
    text-wrap: pretty;
    color: var(--clr-text);
}

h1,
h2,
h3,
a,
p,
ul,
li,
label,
i:before {
    color: var(--clr-text);
}

button.emoji {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: var(--clr-text);
    font-family: "Noto Emoji";
    font-display: block;
    font-size: 24px;
}

body:has(.who:hover) .me:after {
    content: "doesn't like talking about himself";
}

body:has(.what:hover) .me:after {
    content: "writes code";
}

body:has(.hobbies:hover) .me:after {
    content: "also builds things with wood";
}

body:has(.contact:hover) .me:after {
    content: "wants to connect";
}

body:has(:popover-open) {
    /* prevent scrolling content in background and adjust for no scrollbar */
    padding-right: 15px;
    overflow: hidden;

    /* prevent immediately opening another image when clicking outside of popover */
    button.img-pop-trigger {
        pointer-events: none;
    }
}