
/* Emoji Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@300..700&display=swap');

@font-face {
    font-family: 'Intro';
    src: url('../assets/fonts/INTRO.OTF');
}

:root {
    --clr-surface: white;
    --clr-text: black;
    --clr-border: var(--clr-text);
    --display-font: 'Intro';
    --reg-font: 'Inclusive';
    --grid-gap: 30px;
    --border-rad: 8px;
    --display-font: 'Intro';
    --content-font: "Inclusive Sans", serif;
    --shadow: drop-shadow(3px 3px var(--clr-border));
}


.inclusive-sans {
    font-family: "Inclusive Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.moto-emoji {
    font-family: "Noto Emoji", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

* {
    box-sizing: border-box;
    font-family: var(--content-font);
}

p {
    /* not widely supported but doesn't cause issues */
    text-wrap: pretty;
}
button.emoji {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: var(--clr-text);
    font-family: "Noto Emoji";
    font-size: 24px;
}

body:has(.who:hover) .me:after {
    content: "doesn't like talking about himself";
}
body:has(.what:hover) .me:after {
    content: "writes code"
}

body:has(.hobbies:hover) .me:after {
    content: "also builds things with wood"
}
body:has(.contact:hover) .me:after {
    content: "wants to connect"
}

body:has(:popover-open) {
    /* prevent scrolling content in background and adjust for no scrollbar */
    padding-right: 15px;
    overflow: hidden;
    /* prevent immediately opening another image when clicking outside of popover */
    button.img-pop-trigger {
        pointer-events: none;
    }
}

