@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@300..700&display=swap');

:root {
    --clr-surface: white;
    --clr-text: black;
    --clr-border: var(--clr-text);
    --display-font: 'Intro';
    --reg-font: 'Inclusive';
    --grid-gap: 30px;
    --border-rad: 8px;
}

@font-face {
    font-family: 'Intro';
    src: url('../assets/fonts/INTRO.OTF');
}

.inclusive-sans {
    font-family: "Inclusive Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

/* .ds-grid {
    --gap: 30px;
    --cols: 2;
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(var(--eds-grid-col-count), 1fr);
    grid-column-gap: var(--eds-grid-gap);
    grid-row-gap: var(--eds-grid-gap);
    margin: 0 var(--gap);

    .ds-col-full {
        grid-column: 1 / span var(--ds-cols);
    }
    .ds-col-half {
        grid-column: 2;
    }
    
    @media only screen and (min-width: 1260px) {
        margin: 0 auto;
    }
} */
