ds-popover {
    *::backdrop {
        background-color: color-mix(in srgb, var(--clr-surface), transparent 20%);
        backdrop-filter: blur(3px);
        pointer-events: none;
    }

    div {
        border: none;
        background: none;
    }

    .pop {
        position: fixed;
        max-height: 90vh;
        max-width: 90vw;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--clr-surface);
        border: 1px solid var(--clr-border);
        border-radius: var(--border-rad);
        padding: 0;

        img {
            width: 80vw;
        }

        p {
            padding: 10px 20px;
        }
    }

    @media (max-width: 530px) {
           .pop {
            max-width: 98vw;
            img {
                width: 90vw;
            }
           } 
    }
}