.top-nav {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 90vw;
    border: 1px solid var(--clr-border);
    background-color: var(--clr-surface);
    padding: 5px 20px;
    border-radius: 8px;
    filter: var(--shadow);
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: "Inclusive Sans", serif;
    font-weight: 400;
    align-items: center;

    .me {
        font-weight: 700;
        margin: 0;
        line-height: 30px;
        &:after {
            margin: 0 0 0 5px;
            content: "";
            font-weight: 400;
            text-transform:none;
        }
    }

    .links {
        display: flex;
        gap: 10px;
        line-height: 30px;
        a {
            font-family: "Inclusive Sans", serif;
            font-weight: 400;
            text-decoration: none;
            color: var(--clr-text);
            transition: color 400ms ease;
            padding: 2px 10px;
            border-radius: 10px;
            &.active {
                background-color: var(--clr-text);
                color: var(--clr-surface);
            }
            &:hover:not(.active) {
                outline: 2px solid var(--clr-border);
            }
    
        }
    
        button {
            background: none;
            height: 20px;
            width: auto;
            img {
                width: 30px;
        
            }
        }
    }

}


@media (max-width: 500px) {
    .top-nav {
        flex-direction: column;
        gap: 10px;
        .me {
            font-size: 1.4em;
        }
    }
}
