.top-nav {
    position: relative;
    display: flex;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    filter: drop-shadow(3px 3px black);
    flex-direction: row;
    justify-content: space-between;
    /* font-family: var(--font-fam); */
    text-transform: uppercase;
    font-family: "Inclusive Sans", serif;
    font-weight: 400;
    .name {
        font-weight: 700;
        margin: 0;
        &:after {
            margin: 0 0 0 5px;
            content: "test";
            font-weight: 400;
            text-transform:none;
        }
    }

}
.links {
    display: flex;
    gap: 15px;
    a {
        font-family: "Inclusive Sans", serif;
        font-weight: 400;
        text-decoration: none;
        color: black;
        transition: 400ms all ease;
        &:hover {
            font-weight: 700;
            text-decoration: underline;
        }

    }

    button {
        background: none;
        height: 20px;
        width: auto;
        img {
            width: 30px;
    
        }
    }
}
