app-nav {
    position: relative;
    width: 100%;
    max-width: 90vw;
}

.top-nav {
    position: relative;
    display: flex;
    border: 1px solid var(--clr-border);
    background-color: var(--clr-surface);
    padding: 5px 20px;
    border-radius: 8px;
    filter: var(--shadow);
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: "Inclusive Sans", serif;
    font-weight: 400;
    align-items: center;

    .me {
        font-weight: 700;
        margin: 0;
        line-height: 30px;

        &:after {
            margin: 0 0 0 5px;
            content: "";
            font-weight: 400;
            text-transform: none;
        }
    }

    .links {
        display: flex;
        gap: 10px;
        line-height: 30px;
        align-items: center;

        a {
            font-family: "Inclusive Sans", serif;
            font-weight: 400;
            text-decoration: none;
            color: var(--clr-text);
            transition: color 400ms ease;
            padding: 2px 10px;
            border-radius: 10px;

            &.active {
                background-color: var(--clr-text);
                color: var(--clr-surface);
            }

            &:hover:not(.active) {
                outline: 2px solid var(--clr-border);
            }

        }

        .extra-settings {
            display: flex;
        }

        button.settings {
            background: transparent;
            border: none;
            border-radius: 50%;
            margin: 0;
            padding: 0;
            height: 34px;
            width: 34px;
            background-color: var(--clr-surface);
            i:before {
                font-size: 24px;
            }
            i.lni-sun-1 {
                margin-top: 2px;
                margin-left: 1px;
            }
            &:hover, &:focus {
                outline: 2px solid var(--clr-border);
            }
        }
    }

    .rainbow-check {
        label {
            display: block;
            height: 34px;
            width: 34px;
            font-size: 20px;
            line-height: 34px;
            border-radius: 50%;
            text-align: center;
            mix-blend-mode: luminosity;
            &:hover, &:focus {
                outline: 2px solid var(--clr-border);
            }
        }
        input {
            position: absolute;
            visibility: hidden;
        }
    }

}



@media (max-width: 500px) {
    .top-nav {
        flex-direction: column;
        gap: 10px;

        .me {
            font-size: 1.4em;
        }
    }
}
@media (max-width: 900px) {
    .me:after {
        display: none;
    }
}

@media(max-width: 375px) {
    .top-nav {
        padding: 5px;
        .links {
            gap: 5px;
        }
    }
}

@media(max-width: 360px) {
    .top-nav .links {
        flex-direction: column;
    }
 }