ds-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    background-color: var(--clr-surface);
    filter: drop-shadow(3px 3px black);
    border-radius: 8px;
    font-family: "Inclusive Sans", serif;
    font-weight: 400;
    /* margin-bottom: 30px; */
    h2 {
        margin: 0;
    }
    .subhead {
        font-family: var(--content-font);
        font-size: 1rem;
        color: #666;
        margin-top: 5px;
    }
}