ds-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-color: var(--clr-border);
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    background-color: var(--clr-surface);
    filter: drop-shadow(3px 3px var(--clr-border));
    border-radius: 8px;
    font-family: "Inclusive Sans", serif;
    font-weight: 400;
    max-width: 90vw;
    header {
        margin-bottom: 15px;
        h2 {
            margin: 0;
        }
        .subhead {
            font-size: 1rem;
            color: var(--clr-text-mid);
            margin-top: 5px;
        }
    }
    p {
        max-width: 800px;
    }
    a {
        color: var(--clr-link);
        padding-bottom: 1px;
        width: fit-content;

        /* fix grid width for hover*/
        &:hover {
            border-bottom: 1px solid var(--clr-link);
            padding-bottom: 0;
        }
    }
}